<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container bg-black" uk-navbar>
        <div class="uk-navbar-center">
            <span uk-icon="icon: world; ratio: 3"></span>

            <ul class="uk-navbar-nav white-text">
                <li><a class="green-text" href="/">Home</a></li>
                <li><a class="white-text" id="clear-btn">Clear Articles</a></li>
                <li class="saved-page"><a class="white-text" href="/saved-articles">Saved Articles</a></li>
            </ul>

        </div>
    </nav>
</div>


<h1 class="uk-heading-line uk-text-center uk-heading-large"><span>World Finance Report</span></h1>
    
<div style="margin-top: 4rem" class="uk-container" id="article-container">
{{#each articles}}
<div class="article uk-container">
    <h3 class="uk-text-center">{{title}}</h3>
    <div class="uk-text-center uk-text-success">
        <a class="uk-link-text" target="_blank" href="{{link}}">{{link}}</a>
    </div>
    <p class="uk-text-center">{{summary}}</p>
    <button data-title={{title}} data-link={{link}} class="uk-button uk-button-secondary uk-align-center uk-margin-top save-btn" type="submit">
        Save Article
    </button>
    <hr class="uk-divider-icon">
</div>
{{/each}}
</div>